
{% extends "base.html" %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h3 class="card-title">My Status</h3>
        </div>
        <div class="card-body">
          <div class="typography-line">
            <span style="font-weight:bold;">My Rank</span>
            <h3 id='rank'>Null</h3>
          </div>
          <div class="typography-line">
              <span style="font-weight:bold;">My Balance</span>
              <h3 id='balance'>Null</h3>
          </div>
          <div class="typography-line">
              <span style="font-weight:bold;">Yield Rate</span>
              <h3 id='yield'>Null</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h3 class="card-title"> My Portfolio List</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th>
                    No.
                  </th>
                  <th>
                    Ticker
                  </th>
                  </th>
                  <th>
                    Quantity
                  </th>
                  <th>
                    Unit Price
                  </th>
                  <th>
                    Total Price
                  </th>
                </tr>
              </thead>
              <tbody id='mylist'>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script>
var money = setInterval(function(){
let URL = "./balance";
let req = new XMLHttpRequest();
req.open('GET',URL,true);
req.onload = function() {
if (req.status >= 200 && req.status < 400) {
  document.getElementById('balance').innerText=req.responseText;

} else {
  console.log("We connected to the server, but it returned an error.");
}

};
req.onerror = function() {
console.log("Connection error");
};

req.send();

}, 2000);

</script>

<script>
var rank = setInterval(function(){
let URL = "./rank";
let req = new XMLHttpRequest();
req.open('GET',URL,true);
req.onload = function() {
if (req.status >= 200 && req.status < 400) {
  document.getElementById('rank').innerText=req.responseText;

} else {
  console.log("We connected to the server, but it returned an error.");
}

};
req.onerror = function() {
console.log("Connection error");
};

req.send();

}, 2000);

</script>

<script>
var mylist = setInterval(function(){
let URL = "./port_list?time="+window.time;
let req = new XMLHttpRequest();
req.open('GET',URL,true);
req.onload = function() {
if (req.status >= 200 && req.status < 400) {
  console.log(req.responseText)
  document.getElementById('mylist').innerHTML=req.responseText;

} else {
  console.log("We connected to the server, but it returned an error.");
}

};
req.onerror = function() {
console.log("Connection error");
};

req.send();

}, 2000);

</script>

<script>
var myyield = setInterval(function(){
let URL = "./yieldrate?time="+window.time;
let req = new XMLHttpRequest();
req.open('GET',URL,true);
req.onload = function() {
if (req.status >= 200 && req.status < 400) {
  console.log(req.responseText)
  document.getElementById('yield').innerText=req.responseText;

} else {
  console.log("We connected to the server, but it returned an error.");
}

};
req.onerror = function() {
console.log("Connection error");
};

req.send();

}, 2000);

</script>



{% endblock script %}