
{% extends "base.html" %}

{% block content %}
<div class="content">
  <div class="row">
  
    <div class="col-md-12">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">  
              <h2 class="card-title">Stock Transaction</h2>
            </div>
            <div class="col-sm-6">
              <div class="btn-group btn-group-toggle btn-group-lg float-right" data-toggle="buttons">
                <label class="btn btn-sm btn-primary btn-simple active" id="0">
                  <input type="radio" name="options" checked>
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Buy In</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-single-02"></i>
                  </span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple" id="1">
                  <input type="radio" class="d-none d-sm-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Sell Out</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-gift-2"></i>
                  </span>
                </label>
              </div>
            </div>
          </div>
      
          <div class="row">
            <div class="col-sm-6 text-left">
              <form>
                <div class="input-group mb-3">
            
                  <input type="text" class="form-control" placeholder="Stock No." id="usr" name="username">
                </div>
                <button type="submit" class="btn btn-primary">Buy In</button>
              </form>

            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="chartBig1"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h2 class="card-title"> Stock Transaction Record</h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th>
                    No.
                  </th>
                  <th>
                    Stock Name
                  </th>
                  <th>
                    Stock Code
                  </th>
                  <th>
                    Unit Price
                  </th>
                  <th>
                    Shares
                  </th>
                  <th>
                    Total Price
                  </th>
                  <th>
                    Trading Hour
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1
                  </td>
                  <td>
                    Apple
                  </td>
                  <td>
                    10001
                  </td>
                  <td>
                    $100
                  </td>
                  <td>
                    100
                  </td>
                  <td>
                    $10000
                  </td>
                  <td>
                    2019-11-11 00:00:01
                  </td>
                </tr>
                <tr>
                  <td>
                    2
                  </td>
                  <td>
                    Banana
                  </td>
                  <td>
                    10010
                  </td>
                  <td>
                    $150
                  </td>
                  <td>
                    200
                  </td>
                  <td>
                    $30000
                  </td>
                  <td>
                    2019-11-11 00:01:03
                  </td>
                </tr>
                <tr>
                  <td>
                    3
                  </td>
                  <td>
                    Cats
                  </td>
                  <td>
                    10030
                  </td>
                  <td>
                    $200
                  </td>
                  <td>
                    100
                  </td>
                  <td>
                    $20000
                  </td>
                  <td>
                    2019-11-11 00:03:23
                  </td>
                </tr>
                <tr>
                  <td>
                    4
                  </td>
                  <td>
                    Dogs
                  </td>
                  <td>
                    10050
                  </td>
                  <td>
                    $120
                  </td>
                  <td>
                    200
                  </td>
                  <td>
                    $24000
                  </td>
                  <td>
                    2019-11-11 00:06:47
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}